html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000;
  overflow: hidden;
  position: relative;
}

#txt {
  position: absolute;
  margin: auto;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#txt img {
  -webkit-user-drag: none;
}

#txt p {
  font-family: monospace;
  user-select: none;
}

#canvas {
  display: block;
}
